/* Meta */
@font-face {
    font-family: titleFont;
    src: url(/Test/Assets/Fonts/DeutscheZierschrift.ttf);
    /* url has to specify slug here as the $slug re-writer is currently done only for non-asset text */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif,  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hidden {
    display: none;
}

/* Host Frame / Header */
.page-host {
    background-color: #000;
    color: silver;
}

.page-play {
    background-color: silver;
}

div.host-title-container {
    float: left;
    display: inline-block;
}

h1.host-title {
    font-family: titleFont;
    font-weight: 400;
    font-size: 4em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

div.host-menu-container {
    float: right;
}

ul.host-menu {

}

li.host-menu-item {

}

li.host-menu-item > a:link, li.host-menu-item > a:visited, li.host-menu-item > a:visited {
    color: #369;
    text-decoration: none;
}
li.host-menu-item > a:hover {
    color: #ccc;
    text-decoration: underline;
}

/* Frame of game play area */
.host-game-frame {
    width: 100%;
    height: calc(100vh - 97px);
    position: absolute;
    top: 96px;
    left: 0px;
    border: 0;
    border-top: solid 1px black;

    /* duplicates the body color but prevents flicker */
    background-color: silver;
}

/* Play */

.interaction-result svg {
    width: 1em;
    height: 1em;
    color: red;
}

ul.transition-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: solid 1px #330;
    border-bottom: none;
}

li.transition-option {
    margin: 0;
    padding: 0;
    padding: 2px;
    border-bottom: solid 1px #330;
    background-color: initial;
    transition: all 0.1s ease-in-out;
}

li.transition-option:hover {
    background-color: #eee;
    transition: all 0.1s ease-in-out;
}

li.transition-option > a > p {
    margin: 0px;
    display: inline-block;
}

.transition-option > svg {
    width: 1em;
    height: 1em;
    color: red;
}
