@page "/{slug}/Host/{state}"
@model Dgf.Web.Pages.HostModel
@{ 
    ViewData["PageClass"] = "host";
    ViewData["Title"] = $"Playing - {Model.Game.Name}";
}

<div class="host-container">
    <div class="host-title-container">
        <h1 class="host-title">@Model.Game.Name</h1>
    </div>
    <div class="host-menu-container">
        <ul class="host-menu">
            <li class="host-menu-item"><a href="~/">Menu</a></li>
            <li class="host-menu-item"><a href="@Model.GetNewGameUrl()">New game</a></li>
        </ul>
    </div>
</div>

<audio id="music-player">
</audio>

<audio id="sfx-player">
</audio>

<script>

    var currentSong = null;
    var musicPlayer = document.querySelector('#music-player');
    var sfxPlayer = document.querySelector('#sfx-player');

    // Create history entries from iframe nav so link sharing / copy+paste, browser restore etc all work as expected
    // otherwise this would always bring the browser back to the initial game state
    // Also checks for music changes
    function pageChanged(iframe, iframeUrl) {
        var state = iframeUrl.href.substring(iframeUrl.href.lastIndexOf('/') + 1);
        var thisUrl = window.location.href.substring(0, window.location.href.lastIndexOf('/') + 1);
        var newHistoryUrl = thisUrl + state;
        history.pushState(null, "", newHistoryUrl);

        var musicElement = iframe.contentWindow.document.querySelector('#music');
        if (musicElement != null) {
            var song = musicElement.dataset.song;
            if (currentSong != song) {
                // change song
                currentSong = song;
                musicPlayer.src = song;
                musicPlayer.play();
            }
        }

        var sfxElement = iframe.contentWindow.document.querySelector('#sfx');
        if (sfxElement != null) {
            var sfx = sfxElement.dataset.sound;
            if (sfx) {
                sfxPlayer.src = sfx;
                sfxPlayer.play();
            }
        }
    }
</script>
<iframe class="host-game-frame" src="@Model.GetPlayUrl()" title="Play Window" onload="pageChanged(this, this.contentWindow.location);">
</iframe>