@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

Available Games:
<ul>
    @foreach (var game in Model.Games)
    {
    <li><a href="@Url.Page("NewGame", new { slug = @game.Slug })"> @CommonMark.Encode(game.Name)</a></li>
    }
</ul>