@page "/{slug}/NewGame"
@model Dgf.Web.Pages.NewGameModel
@{
    ViewData["Title"] = "NewGame";
}

<h1>Begin New Game - @CommonMark.Encode(Model.Game, Model.Game.Name)</h1>

<p>
    @CommonMark.Encode(Model.Game, Model.Game.Description)
</p>

<p>
    <em>@Model.StateDescription</em>
</p>

<form method="post">
    Initial game state: <br />

    @if (Model.Errors != null)
    {
    <ul>
        @foreach (var error in Model.Errors)
        {
            <li><em>@error</em></li>
        }
    </ul>
    }

    <textarea rows="20" cols="80" asp-for="JsonState"></textarea><br />

    <input type="submit" /> 
</form>