@page "/{slug}/Play/{state}"
@model Dgf.Web.Pages.PlayModel
@{ ViewData["Title"] = $"Playing - {Model.Game.Name}"; }

<h1>@CommonMark.Encode(Model.Game, Model.GameStateDescription.Summary.Title)</h1>

<div>
    @CommonMark.Encode(Model.Game, Model.GameStateDescription.Summary.Description)
</div>

<ul>
    @foreach (var transition in Model.GameStateDescription.Transitions)
    {
<li><a href="@Model.GetUrl(transition.State)">@CommonMark.Encode(Model.Game, transition.Text)</a></li>}
</ul>


