@page "/{slug}/Play/{state}"
@model Dgf.Web.Pages.PlayModel
@{
    ViewData["Title"] = $"Playing - {Model.Game.Name}";
}

<h1>@CommonMark.Encode(Model.GameStateDescription.Title)</h1>

<div>
    @CommonMark.Encode(Model.GameStateDescription.Description)
</div>

@foreach (var group in Model.GameStateDescription.Groups)
{
    switch (group.DisplayType)
    {
        case Framework.States.Transitions.GroupDisplayType.List:
<ul>
    @foreach (var transition in group.Transitions)
    {
    <li><a href="@Model.GetUrl(transition.State)">@CommonMark.Encode(transition.Title)</a></li>
    }
</ul>
            break;
        case Framework.States.Transitions.GroupDisplayType.Table:
            throw new NotImplementedException();
            break;
    }
}


