@page "/{slug}/Play/{state}"
@model Dgf.Web.Pages.PlayModel
@{ ViewData["Title"] = $"Playing - {Model.Game.Name}"; }

<h1 class="state-title">@CommonMark.Encode(Model.Game, Model.GameStateDescription.Summary.Title)</h1>

<div class="state-description">
    @CommonMark.Encode(Model.Game, Model.GameStateDescription.Summary.Description)
</div>

<ul class="transition-list">
    @foreach (var transition in Model.GameStateDescription.Transitions)
    {
    <li class="transition-option"><a href="@Model.GetUrl(transition.State)">@CommonMark.Encode(Model.Game, transition.Text)</a></li>}
</ul>


