<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <vc:styles></vc:styles>
</head>
<body class="@(ViewData["PageClass"] == null ? "" : "page-" + ViewData["PageClass"]) @(ViewData["Slug"] == null ? "" : "game-" + ViewData["Slug"].ToString().ToLower())">
    @RenderBody()
</body>
</html>
